.cover {
  background: {
    image: url(../images/backgrounds/sao-caetano-do-sul.jpg);
    size: cover;
    repeat: no-repeat;
    color: rgba(color(dark, darkest), .3);
  };
  color: color(light);

  position: relative;
  z-index: layer(medium);

  min-height: 100vh;
  overflow: hidden;

  @include respond-to(large) {
    background: {
      // image: url(../images/backgrounds/sao-bernardo-do-campo.jpg);
      size: auto;
      position: bottom right;
      color: rgba(color(dark, darkest), .3);
    };

    height: 100vh;
  }

  &::before,
  &::after {
    @include css-content(100%, 100vh);

    display: none;

    @include respond-to(large) {
      display: block;
    }

    position: absolute;
    z-index: layer(low);
    width: 100%;

    background: {
      size: cover;
      repeat: no-repeat;
    }
  }

  &::before {
    transform: skewY(13deg) translateY(-63vh);

    background: {
      // image: url(../images/backgrounds/santo-andre.jpg);
      // image: url(../images/backgrounds/sao-bernardo-do-campo.jpg);
      color: rgba(color(light), .5);
      position: 70% 0;
    };
    opacity: .7;
  }

  &::after {
    // background-image: url(../images/backgrounds/sao-caetano-do-sul.jpg);
    transform: skewY(-15deg) translateY(-28vh);
    background: {
      color: rgba(color(dark, darkest), .3);
    };
  }

  .social-media {
    position: absolute;
    bottom: space(medium);
    text-align: center;
    width: 100%;

    @include respond-to(large) {
      right: 0;
      text-align: right;
    }
  }

  .wrapper {
    position: relative;
    height: 100vh;

    @include respond-to(large) {
      z-index: layer(medium);
      width: 100%;
    }
  }

  time {
    display: block;
    margin: {
      top: space(large);
      bottom: space(large);
    }

    font-size: font-size(xxlarge);
    font-weight: bold;
    color: color(primary);
    text-shadow: $shadow-base;

    @include respond-to(large) {
      margin-bottom: space(medium);
    }
  }

  p {
    font-weight: bold;
    margin-bottom: space(xlarge);

    @include respond-to(large) {
      margin-bottom: space(medium);
    }
  }

  .logo {
    position: relative;
    display: block;
    text-align: left;
    width: 50%;
    max-width: 330px;

    @include respond-to(large) {
      margin: space(large) auto;
      text-align: center;
    }

    img {
      position: relative;
      z-index: layer(medium);
    }
  }

  .intro {
    color: color(light);
    text-shadow: $shadow-base;

    @include respond-to(large) {
      position: absolute;
      top: 48%;
      left: 0;
      width: 50%;
      transform: translateY(-50%);
    }

    h1 {
      margin: space(large) 0;
    }

    h2 {
      color: color(light);
      display: none;
      margin: space(large) 0;

      &::before,
      &::after {
        content: none;
      }

      @include respond-to(large) {
        display: block;
      }
    }

    .buy {
      display: block;
      margin: space(large) auto;
      padding: space(small);

      width: rem(200px);

      background: color(primary);
      box-shadow: rem(1px) rem(1px) rem(5px) color(dark);
      border-radius: $border-radius-base;
      color: color(dark, darkest);
      text-transform: uppercase;
      text-shadow: none;
      font-weight: bold;
      text-decoration: none;
      border: 0;

      &:hover,
      &:focus {
        background-color: lighten(color(primary), 35);
      }

      &:active {
        background-color: darken(color(primary), 35);
        color: color(light);
      }
    }
  }

  .is-fixed {
    position: fixed;
    top: 0;
    left: 50%;
    width: 100%;
    padding: space(small) 6.25vw;
    transform: translateX(-50%);

    background-color: color(light);
    box-shadow: $shadow-base;

    .mobile-nav {
      color: color(secondary);
      text-shadow: none;
    }
  }
}
