.cover {
  background: {
    image: url(../images/backgrounds/sao-caetano-do-sul.jpg);
    size: cover;
    repeat: no-repeat;
  }
  color: color(light);

  position: relative;

  height: 100%;

  // @include respond-to(medium) {
  //   background-image: url(../images/backgrounds/sao-bernardo-do-campo.jpg);
  //   background-size: auto;
  //   background-position: bottom right;
  //   color: color(dark);

  //   height: 100vh;

  //   z-index: layer(lowest);
  // }

  &::before,
  &::after {
    @include css-content(100%);
    display: none;

    // @include respond-to(medium) {
    //   display: block;
    // }

    position: absolute;
    z-index: layer(low);
    width: 100%;

    background: {
      color: rgb(121, 119, 121);
      size: cover;
      repeat: no-repeat;
    }
  }

  &::before {
    height: 60vh;
    transform: skewY(10deg) translateY(-25vh);
    background-image: url(../images/backgrounds/santo-andre.jpg);
    background-position: center;
  }
  &::after {
    background-image: url(../images/backgrounds/sao-caetano-do-sul.jpg);
    transform: skewY(-10deg) translateY(-30vh);
    height: 60vh;
  }

  > div {
    position: relative;
    z-index: layer(base);

    padding-top: rem(25px);

    font-size: font-size(medium);
    text-align: center;
  }

  time {
    display: block;
    margin: {
      top: space(medium);
      bottom: space(medium);
    }

    font-size: font-size(large);
  }

  .logo {
    display: block;
    margin: {
      top: space(xsmall);
      bottom: space(xlarge);
    };
    max-width: rem(350px);

    // @include respond-to(medium) {
    //   margin: space(large) auto;
    // }
  }

  .intro {
    color: color(light);
    text-shadow: rem(1px) rem(1px) rem(2px) color(dark), 0 0 1em color(dark), 0 0 0.2em color(dark);

    h2 {
      font-size: font-size(medium);

      // @include respond-to(medium) {
      //   font-size: font-size(large);
      // }
    }

    a {
      display: block;
      margin: space(xlarge) auto;
      padding: rem(12px);

      width: rem(200px);

      background: color(primary);
      border-radius: rem(5px);
      color: color(secondary);
      text-transform: uppercase;
    }

    // @include respond-to(medium) {
    //   position: absolute;
    //   left: 0;
    //   top: 30vh;

    //   max-width: rem(800px);
    // }
  }

  .mobile-nav {
    background: color(secondary);
    border: 0;
    outline: none;
    position: absolute;

    top: rem(55px);
    right: rem(20px);

    height: rem(5px);
    width: rem(30px);

    transition: background-color 0.2s linear;

    z-index: layer(highest);

    &:before,
    &:after {
      @include css-content(rem(5px), rem(30px));

      background: color(secondary);

      position: absolute;
      right: 0;

      transition: transform 0.4s ease-in-out;
    }

    &:before {
      top: rem(-10px);
    }

    &:after {
      top: rem(10px);
    }

    // @include respond-to(medium) {
    //   display: none;
    // }

    &.is-active {
      background: transparent;

      position: fixed;

      &:before,
      &:after {
        top: 0;
      }

      &:before {
        transform: rotate(45deg);
      }

      &:after {
        transform: rotate(-45deg);
      }
    }
  }
}
