.main-nav {
  background: color(primary);

  position: fixed;
  top: 0;
  right: 0;

  height: 100%;
  width: 85vw;
  padding-top: space(xlarge);

  transform: translateX(100%);
  transition: transform 0.6s ease-out;

  z-index: layer(high);

  a {
    display: block;

    text-align: right;

    padding: space(small, medium);

    font-size: font-size(large);
    text-transform: uppercase;
    border-bottom: solid rem(4px) color(primary);

    &:hover {
      background-color: darken(color(primary), 10%);
      border-color: color(dark, darkest);
    }
  }

  .go-to-start {
    span {
      @include hide-element;
    }
  }

  &.is-active {
    transform: translateX(0);
  }
}

.social-nav {
  text-align: center;
  word-spacing: space(medium);

  a {
    color: color(light, dark);
    border-radius: 50%;
    border: 0;
    padding: rem(2px);
    background-color: transparent;

    &:hover,
    &:focus {
      color: color(dark);
    }
  }
}

.mobile-nav {
  display: block;
  background: color(secondary);
  border: 0;
  outline: none;
  position: absolute;
  cursor: pointer;

  top: space(medium);
  right: space(medium);

  height: rem(5px);
  width: rem(30px);

  text-shadow: rem(1px) rem(1px) rem(2px) color(dark), 0 0 0.2em color(dark);

  transition: background-color 0.2s linear;

  z-index: layer(highest);

  &:before,
  &:after {
    @include css-content(rem(5px), rem(30px));

    background: color(secondary);

    position: absolute;
    right: 0;

    transition: transform 0.4s ease-in-out;
  }

  &:before {
    top: rem(-10px);
  }

  &:after {
    top: rem(10px);
  }

  span {
    display: block;
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    padding: space(small, medium);
    font-weight: font-weight(bold);
  }

  &.is-active {
    background-color: transparent;

    position: fixed;
    right: space(large);

    &:before,
    &:after {
      top: 0;
    }

    &:before {
      transform: rotate(45deg);
    }

    &:after {
      transform: rotate(-45deg);
    }

    span {
      @include hide-element;
    }
  }
}
