.schedule {
  background: color( secondary);
  color: color(light);
  padding-bottom: space(large);

  .wrapper {
    max-width: 100%;
  }

  .schedule-table {
    max-width: 100%;
    overflow-x: auto;

    @include respond-to(large) {
      overflow-x: initial;
    }
  }

  .mobile-disclaimer {
    color: color(dark, light);
    font-style: italic;

    @include respond-to(large) {
      display: none;
    }
  }

  h2 {
    color: color(light);
  }

  a {
    color: color(light);
    border-bottom: solid rem(2px) color(primary);
    margin-bottom: space(small);

    &:hover,
    &:focus {
      color: color(dark, darkest);
    }
  }

  .title {
    color: color(primary);
    font-weight: bold;
    font-size: font-size(large);
    border: 0;
    text-align: left;
    padding-bottom: space(small);
  }

  table {
    width: 100%;

    div {
      opacity: .8;
    }
  }

  thead {
    th {
      font-size: font-size(large);
      vertical-align: middle;
    }
  }

  th {
    text-align: center;
    color: color(primary);

    span {
      display: block;
      color: color(light);
      font-size: font-size(small);
    }
  }

  th,
  td {
    position: relative;
    padding: space(medium, large);
  }

  tbody {
    th,
    td {
      border-top: solid rem(1px) color(dark, light);
    }

    [rowspan] {
      border-left: solid rem(1px) color(dark, light);
    }

    [colspan="3"] {
      background-color: rgba(color(light), .1);
    }

    td {
      min-width: rem(280px);

      @include respond-to(large) {
        min-width: auto;
      }
    }
  }

  p {
    max-width: 100%;
  }

  .highlight-uppercase {
    text-transform: uppercase;
  }
}
