.speakers {
  // @include respond-to(medium) {
  //   color: white;

  //   padding-bottom: space(large);
  // }

  .all-speaker {
    // max-width: rem(1080px);

    // @include respond-to(medium) {
    //   display: flex;
    //   flex-wrap: wrap;
    // }
  }

  .speaker {
    max-width: rem(260px);
    margin: space(medium) auto;

    overflow: hidden;

    transition: filter 0.4s ease-in;

    @include respond-to(medium) {
      &:nth-child(odd) {
        top: rem(50px);
      }
    }

    &:hover {
      // @include respond-to(medium) {
      //   -webkit-filter: grayscale(1);
      //   -moz-filter: grayscale(1);
      //   filter: grayscale(1);
      // }
    }

    &:hover > .speaker-info {
      // @include respond-to(medium) {
      //   background: rgba(0, 0, 0, 0.4);
      //   top: 100%;

      //   transform: translateY(-100%);
      // }
    }

    // @include respond-to(medium) {
    //   margin: 0;
    //   position: relative;
    // }

    .speaker-image {
      height: rem(350px);
      width: rem(260px);

      overflow: hidden;
    }

    .speaker-info {
      margin: space(small) auto;

      z-index: layer(highest);

      transition: background 3s linear;
      transition-delay: 1s;

      h4 {
        font-size: font-size(large);
      }

      a {
        margin: space(small) space(xsmall);
      }

      p {
        // @include respond-to(medium) {
        //   font-size: font-size(small);
        // }
      }

      // @include respond-to(medium) {
      //   height: rem(350px);
      //   position: absolute;

      //   margin: 0;
      //   padding-left: rem(10px);
      //   padding-top: rem(10px);

      //   text-align: left;

      //   transition: transform 0.5s ease-in-out;
      // }
    }
  }
}
