.sponsors {
  img {
    display: block;
    width: 100%;
  }

  .sponsor {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;

    max-width: rem(1080px);
  }

  .two-mega {
    figure {
      max-width: rem(320px);
      margin: space(large);
    }
  }

  .one-mega {
    @include separator(color(primary), color(dark, medium));

    figure {
      max-width: rem(250px);
    }
  }

  .half-mega {
    @include separator(color(primary), color(dark, medium));

    figure {
      max-width: rem(180px);
    }
  }

  .support {
    figure {
      margin: space(medium);
      max-width: rem(120px);
    }
  }
}
