.sponsors {
  h3 {
    @include separator(color(primary), color(dark, medium));
  }

  a {
    margin: {
      top: space(small);
      bottom: space(small);
    };
    padding: 0;
    border: 0;

    @include respond-to(large) {
      margin: {
        top: space(medium);
        bottom: space(medium);
      };
    }

    &:hover,
    &:focus {
      background-color: color(light, dark);
    }

    &:active {
      background-color: color(primary, light);
    }
  }

  img {
    display: block;
    width: 100%;
  }

  .sponsor {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;

    max-width: rem(1080px);
  }

  .two-mega {
    @include separator(color(primary), color(dark, medium));

    a {
      max-width: rem(270px);
    }
  }

  .one-mega {
    @include separator(color(primary), color(dark, medium));

    a {
      width: 65vw;
      max-width: rem(220px);
    }
  }

  .half-mega {
    @include separator(color(primary), color(dark, medium));

    a {
      width: 50vw;
      max-width: rem(150px);
    }
  }

  .support {
    a {
      max-width: rem(110px);
    }
  }
}
