@import "./import-core-tools";
@import "./import-core-settings";
@import "./settings";
@import "./objects/reset";
@import "./components/header";
@import "./components/main-nav";
@import "./components/about";
@import "./components/speakers";
@import "./components/schedule";
@import "./components/location";
@import "./components/sponsors";
@import "./components/contact";
@import "./components/footer";

body {
  font-family: "Lato", sans-serif;
  color: color(dark);
}

h1 {
  font-size: font-size(xlarge);
}

h2 {
  font-size: font-size(xlarge);
  font-weight: bold;
  margin: space(small) 0 space(large);
  color: color(dark, darkest);

  &::before {
    content: "<";
    color: color(dark, light);
    margin-right: em(space(xsmall));
  }

  &::after {
    content: ">";
    color: color(dark, light);
    margin-left: em(space(xsmall));
  }

  @include respond-to(medium) {
    font-size: font-size(xlarge);
  }
}

h3 {
  font-size: font-size(large);
  font-weight: bold;
  margin: space(large) 0;
  color: color(dark, darkest);

  @include respond-to(medium) {
    font-size: font-size(xlarge);
  }
}

svg {
  fill: currentColor;
  vertical-align: middle;
  display: inline-block;
}

a {
  display: inline-block;

  font-weight: bold;
  color: color(dark, darkest);
  display: inline-block;
  border-bottom: solid rem(2px) color(primary, medium);
  padding: rem(3px);

  &:hover,
  &:focus {
    background-color: color(primary);
  }

  &:active {
    background-color: color(light);
  }
}

p {
  width: 100%;
  margin: {
    left: auto;
    right: auto;
  };

  + p {
    margin-top: space(medium);
  }
}

strong {
  font-weight: bold;
  color: color(dark, darkest);
}

.wrapper {
  margin: 0 auto;
  padding: {
    top: space(medium);
    bottom: space(medium);
  };
  width: 85vw;
  max-width: rem(1100px);
  text-align: center;
}

.highlight {
  font-weight: bold;
  margin: space(large) 0 space(medium);
}
